
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    /* background-color: rgba(74, 86, 128, 0.863); */
    background-image: url('ubg.jpeg');
    padding: 0;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
}

.brand img{
    width: 70px;
    FONT-VARIANT: JIS04;padding: 0 8px;
}

.brand {
    display: flex;
    align-items: right;
    font-weight: bolder;
    margin-left: 5px;
    font-size: rem;
}

 
.container{
    align-items: center;
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg'); 
}

.bottom{
    position: sticky;
    bottom: 0;
    top: 0;
    height: 100px;
    background-color: black;
    color: rgb(17, 174, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    border-radius: 150px;
    margin: 80px 80px;
}
 
.icons{
    margin-top: 14px;
    font-size: .8em; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
    background-color: green;
}

.songItemContainer{
    margin-top: 74px;
    margin-left: 215px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(10, 9, 8);
    }
  }


*{
	box-sizing: border-box;
}
body {
	font-family: ubuntu, sans-serif;
	line-height: 1.5;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
    margin-left: 15px;
	color: #e20ca2;
}

a {
    margin-right: 20px;
	text-decoration: none;
}

.logo {
	
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-align: right;
	display: block;
}

.main-nav a {
	color: white;
	font-size: .99em;
}

.main-nav a:hover {
	color: #9e1bbe;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #000000;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: left;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
