.head{
  text-align: center;
  color:aliceblue;
  ;
 
}
.whitebox {
  display: inline-block;
  width:300px;
  height: 300px;
  background-color: azure;
  margin: 10px;
  margin-top:25px;
  border: 3px solid black;
}
body {
  background-color: rgb(199, 86, 21);
}
.imgbox { 
    background-image: url('pic.jpg');
  width: 290px;
  top :4px;
  left:6px;
  height: 290px;
  position: relative;
  cursor: pointer;
}
.hold{
    border: 4px solid red;
}
.hide{
    display: none;
}
.dashed{
    border:dashed;
    background: rgb(224, 156, 66);
}
